<div class="retail-banner-area">
    <div class="container-fluid">
        <div class="retail-home-slides">
            <owl-carousel-o [options]="retailHomeSlides">
                <ng-template carouselSlide>
                    <div class="retail-banner-item" style="background-image: url(assets/img/home-six/banner/banner-bg1.jpg);">
                        <div class="content">
                            <h1>Welcome To The Online <b>Retail</b> Shop</h1>
                            <span>Weekend Discount - Up To 50% Off</span>
                            <ul class="banner-btn">
                                <li>
                                    <a routerLink="/retail-online-shop" class="default-btn-with-border-radius">Shop Now</a>
                                </li>
                                <li>    
                                    <a routerLink="/contact-two" class="default-btn-with-border-radius white-color">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="retail-banner-item" style="background-image: url(assets/img/home-six/banner/banner-bg2.jpg);">
                        <div class="content">
                            <h1>Buy From Online <b>Retail</b> Stores</h1>
                            <span>Weekend Discount - Up To 50% Off</span>
                            <ul class="banner-btn">
                                <li>
                                    <a routerLink="/retail-online-shop" class="default-btn-with-border-radius">Shop Now</a>
                                </li>
                                <li>    
                                    <a routerLink="/contact-two" class="default-btn-with-border-radius white-color">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="retail-banner-item" style="background-image: url(assets/img/home-six/banner/banner-bg3.jpg);">
                        <div class="content">
                            <h1>Buy Product From <b>Online</b> Retail Shop</h1>
                            <span>Weekend Discount - Up To 50% Off</span>
                            <ul class="banner-btn">
                                <li>
                                    <a routerLink="/retail-online-shop" class="default-btn-with-border-radius">Shop Now</a>
                                </li>
                                <li>    
                                    <a routerLink="/contact-two" class="default-btn-with-border-radius white-color">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>