<div
    class="container"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/index-8'}"
>
    <div class="facility-inner border-radius">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>Free Shipping</h3>
                    <span>Orders over $200</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <h3>Secure Payment</h3>
                    <span>100% secure payment</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Gift Certificate</h3>
                    <span>Buy now $500 to $1000</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-headphones-alt"></i>
                    </div>
                    <h3>24/7 Support</h3>
                    <span>Ready support</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 4 -->
<div
    class="facility-area-with-color pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-4' || router.url === '/index-5'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-3 col-6">
                <div class="single-facility-card">
                    <div class="icon bg-f5f5f5">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>Free Shipping</h3>
                    <span>Orders over $200</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 col-6">
                <div class="single-facility-card">
                    <div class="icon bg-f5f5f5">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <h3>Secure Payment</h3>
                    <span>100% secure payment</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 col-6">
                <div class="single-facility-card">
                    <div class="icon bg-f5f5f5">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Gift Certificate</h3>
                    <span>Buy now $500 to $1000</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 col-6">
                <div class="single-facility-card">
                    <div class="icon bg-f5f5f5">
                        <i class="fas fa-headphones-alt"></i>
                    </div>
                    <h3>24/7 Support</h3>
                    <span>Ready support</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 6 -->
<div
    class="facility-wrap-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="facility-wrap-inner-box">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="facility-wrap-card">
                        <div class="facility-content">
                            <div class="icon">
                                <i class="fa fa-headset"></i>
                            </div>
                            <h3>Customer Support</h3>
                            <span>24/7 Customer Care Best Support</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="facility-wrap-card">
                        <div class="facility-content">
                            <div class="icon">
                                <i class="far fa-credit-card"></i>
                            </div>
                            <h3>Secure Payments</h3>
                            <span>Pay with the world’s top payment methods</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="facility-wrap-card">
                        <div class="facility-content">
                            <div class="icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <h3>Worldwide Delivery</h3>
                            <span>What you want delivered to where you want</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 7 -->
<div
    class="facility-wrap-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-7'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="facility-wrap-card with-box-style">
                    <div class="facility-content">
                        <div class="icon">
                            <i class="fa fa-headset"></i>
                        </div>
                        <h3>Customer Support</h3>
                        <span>24/7 Customer Care Best Support</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="facility-wrap-card with-box-style">
                    <div class="facility-content">
                        <div class="icon">
                            <i class="far fa-credit-card"></i>
                        </div>
                        <h3>Secure Payments</h3>
                        <span>Pay with the world’s top payment methods</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="facility-wrap-card with-box-style">
                    <div class="facility-content">
                        <div class="icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <h3>Worldwide Delivery</h3>
                        <span>What you want delivered to where you want</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 8 -->
<div
    class="grocery-facility-area ptb-100 d-none"
    style="background-image: url(assets/img/home-eight/facility/facility-bg.jpg);"
    [ngClass]="{'d-block': router.url === '/index-8'}"
>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="grocery-facility-card">
                    <div class="facility-content">
                        <div class="icon">
                            <i class="fa fa-headset"></i>
                        </div>
                        <h3>Customer Support</h3>
                        <span>24/7 Customer Care Best Support</span>
                    </div>
                </div>
                <div class="grocery-facility-card left">
                    <div class="facility-content">
                        <div class="icon">
                            <i class="far fa-credit-card"></i>
                        </div>
                        <h3>Secure Payments</h3>
                        <span>Pay with the world’s top payment methods</span>
                    </div>
                </div>
                <div class="grocery-facility-card">
                    <div class="facility-content">
                        <div class="icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <h3>Worldwide Delivery</h3>
                        <span>What you want delivered to where you want</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="grocery-facility-image">
                    <img src="assets/img/home-eight/facility/facility.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>