<div class="funfacts-area">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-6 col-sm-3">
            <div class="single-funfacts-box">
                <div class="icon">
                    <i class="fas fa-shopping-bag"></i>
                </div>
                <h3>Products for sale</h3>
                <span class="number">25.6K</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 col-sm-3">
            <div class="single-funfacts-box">
                <div class="icon">
                    <i class="fas fa-store-alt"></i>
                </div>
                <h3>Sellers active on store</h3>
                <span class="number">1.2M</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 col-sm-3">
            <div class="single-funfacts-box">
                <div class="icon">
                    <i class="fas fa-shopping-basket"></i>
                </div>
                <h3>Buyers active on store</h3>
                <span class="number">25.2M</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 col-sm-3">
            <div class="single-funfacts-box">
                <div class="icon">
                    <i class="far fa-credit-card"></i>
                </div>
                <h3>Monthly gross sales</h3>
                <span class="number">$10.8M</span>
            </div>
        </div>
    </div>
</div>