.order-tracking-content {
    padding-right: 15px;
    
    form {
        .form-group {
            margin-bottom: 25px;

            label {
                display: block;
                font-weight: 500;
                margin-bottom: 10px;
            }
        }
        .default-btn {
            text-align: center;
            display: block;
            width: 100%;
            padding: {
                left: 30px;
                right: 30px;
            };
        }
    }
}
.order-tracking-image {
    padding-left: 15px;
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    
    .order-tracking-content {
        padding-right: 0;

        form {
            .form-group {
                margin-bottom: 20px;
            }
        }
    }
    .order-tracking-image {
        padding-left: 0;
        margin-top: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .order-tracking-content {
        padding-right: 0;

        form {
            .form-group {
                margin-bottom: 20px;
            }
        }
    }
    .order-tracking-image {
        padding-left: 0;
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}