<div class="special-deals-area pb-70">
    <div class="container">
        <div class="section-heading-title">
            <h2>Special Deals</h2>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-sm-6">
                <div class="special-deals-card">
                    <div class="deals-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-six/special-deals/special-deals1.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="new">Hot</div>
                    </div>
                    <div class="deals-content">
                        <h3>
                            <a routerLink="/products-details">Women Cosmetics</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$199.00</span>
                            <span class="old-price">$245.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="special-deals-card">
                    <div class="deals-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-six/special-deals/special-deals2.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="deals-content">
                        <h3>
                            <a routerLink="/products-details">Mobile Equipment</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$99.00</span>
                            <span class="old-price">$120.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="special-deals-card">
                    <div class="deals-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-six/special-deals/special-deals3.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="new">New</div>
                    </div>
                    <div class="deals-content">
                        <h3>
                            <a routerLink="/products-details">Electronics Blender</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$125.00</span>
                            <span class="old-price">$130.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="special-deals-card">
                    <div class="deals-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-six/special-deals/special-deals4.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="deals-content">
                        <h3>
                            <a routerLink="/products-details">Office Equipment Printer</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$150.00</span>
                            <span class="old-price">$300.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="special-deals-card">
                    <div class="deals-add-image">
                        <a routerLink="/shop-right-sidebar-1">
                            <img src="assets/img/home-six/special-deals/add.jpg" alt="image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="special-deals-card">
                    <div class="deals-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-six/special-deals/special-deals5.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="deals-content">
                        <h3>
                            <a routerLink="/products-details">Smartwatch</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$199.00</span>
                            <span class="old-price">$245.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="special-deals-card">
                    <div class="deals-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-six/special-deals/special-deals6.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="new">New</div>
                    </div>
                    <div class="deals-content">
                        <h3>
                            <a routerLink="/products-details">Mushrooms Basket</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$85.00</span>
                            <span class="old-price">$95.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="special-deals-card">
                    <div class="deals-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-six/special-deals/special-deals7.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="deals-content">
                        <h3>
                            <a routerLink="/products-details">Purse</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$50.00</span>
                            <span class="old-price">$90.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>