<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-md-12">
                <div class="single-footer-widget pr-5">
                    <a routerLink="/" class="logo">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <a href="https://listado.mercadolibre.com.co/_CustId_114786662?item_id=MCO1628970818&category_id=MCO4159&seller_id=114786662&client=recoview-selleritems&recos_listing=true" target="_blank" class="location">¡También estamos en Mercado Libre!</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Ayuda</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/order-tracking">Conoce el estado de tu pedido</a></li>
                        <li><a routerLink="/faq">Preguntas frecuentes</a></li>
                        <li><a routerLink="/contact">Contáctanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 col-sm-7">
                    <div class="single-footer-widget pr-5">
                        <ul class="social-links">
                            <li><a href="#" target="_blank">© Miwii</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>